<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" class="active">
			<a>
				<center>Raport Online Karyawan</center><label style="text-align: left" th:text=${penggunaaktif.username}></label>
				
			</a>
		</li>
	</ul>
	<hr/>
	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
		<a class="thumbnail" href="#">
			<img class="img-responsive" src="images/user/user1.jpg" alt="Foto Karyawan">
		</a>
	</div>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<td>NIK</td>
				<td>:</td>
				<td>1281712819887</td>
			</tr>
			<tr>
				<td>Nama</td>
				<td>:</td>
				<td>Maryam Sukma Puji Astuti</td>
			</tr>
			<tr>
				<td>Posisi</td>
				<td>:</td>
				<td>Programer</td>
			</tr>
			<tr>
				<td>Departemen</td>
				<td>:</td>
				<td>HR</td>
			</tr>
			
		</table>
	</div>

</body>
</html>