<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="tampil/head">
</head>
<body>
	<div class="containerku">
			<div th:replace="tampil/menu">&nbsp;</div>
		<div class="bagteng">
			<div th:replace="tampil/header">&nbsp;</div>
			
			<div class="baru">
				<hr>
				<ol class="breadcrumb">
					<li><a href="#">Nilai</a></li>
					<li class="active"><a href="#">Kemajuan</a></li>
				</ol>
			</div>
			<div id="tabs">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">NIK:</label>
						<input type="text" class="form-control" id="recipient-name"  style="text-align: right;" value="075422311432" disabled>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Nama Lengkap:</label>
						<input type="text" class="form-control" id="recipient-name" value="Maryam Astuti Wijaya" disabled>
					</div>
					
					<div class="form-group">
						<label for="recipient-name" class="control-label">Tempat Lahir:</label>
						<input type="text" class="form-control" id="recipient-name" value="Ciamis">
					</div>
					

					<div class="form-group">
						<label for="recipient-name" class="control-label">Tanggal Lahir:</label>
						
						<input type="text"  class="form-control"  name="tglLahir" id="tglLahir" value="05/08/2001">
					</div>

					<div class="form-group">
						<label for="message-text" class="control-label">Alamat:</label>
						<textarea class="form-control" id="message-text" >Jalan pegangsaan timur no 25</textarea>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">No HP:</label>
						<input type="text" name="hp" class="form-control" id="hp" style="text-align: right;" value="081223082029">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Email:</label>
						<input type="email" class="form-control" name="email" value="aaa@aa.aa">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Jenis Kelamin:</label>
						<div class="radio-inline">
							<label><input type="radio" name="optradio" checked="">Pria</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" name="optradio">Wanita</label>
						</div>
					</div>
					
					<div class="form-group">
						<label for="recipient-name" class="control-label">Agama:</label>
						<select name="cbagama" class="form-control">
							<option>---Pilih---</option>
							<option>Budha</option>
							<option>Hindu</option>
							<option selected="">Islam</option>
							<option>Katholik</option>
							<option>Kepercayaan</option>
							<option>Konghucu</option>
							<option>Kristen</option>
						</select>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Kewarganegaraan:</label>
						<select name="MhsWargaNegara" class="form-control">
							<option value="">---Pilih---</option>
							<option value="IKA">Indonesia Keturunan Australoid</option>
							<option value="IKC">Indonesia Keturunan Caucasoid</option>
							<option value="IKE">Indonesia Keturunan Melanesoid</option>
							<option value="IKM">Indonesia Keturunan Mongoloid</option>
							<option value="IKN">Indonesia Keturunan Negroid</option>
							<option value="WNA">Warga Negara Asing</option>
							<option value="WNI" selected="">Warga Negara Indonesia</option>
							<option value="WNK">Warga Negara Indonesia Keturunan</option>

						</select>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Status Kawin:</label>
						<select name="cbkwn" class="form-control">
							<option value="">---Pilih---</option>
							<option selected="">Janda</option>
							<option>Duda</option>
							<option>Single</option>
						</select>
					</div>
					<ol class="breadcrumb">
						<center>
							<button type="button" class="btn btn-primary">Simpan</button>
							<button type="button" class="btn btn-warning">Ulang</button>

						</center>
					</ol>

				</form>
			</div>
		</div>
	
		<div th:replace="tampil/bagkan">&nbsp;</div>
</div>
	<div th:replace="tampil/footer">&nbsp;</div>
</body>
<script src="jquery-ui/external/jquery/jquery.js"></script>
<script src="jquery-ui/jquery-ui.js"></script>
<script type="text/javascript">

	$( "#tabs" ).tabs();
</script>
<script type="text/javascript">
	$('#hp').keyup(function(e) {
		// body...
		this.value = this.value.replace(/[^0-9\.]/g,'');
	});
</script>
<script type="text/javascript">
	$( "#tglLahir" ).datepicker({
				// showOn: "both",
				yearRange: "1960:2018",
				maxDate: new Date(),
				changeMonth: true,
				changeYear: true,
				// inline: true,
				// beforeShowDay: $.datepicker.noWeekends
			});

		</script>
		</html>